<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>盒子模型内边距</title>
    <style>
        #d1 {
            width: 200px;
            height: 100px;
            background-color: lightgreen;

            /*padding-top: 30px;*/
            /*padding-right: 20px;*/
            /*padding-bottom: 10px;*/
            /*padding-left: 5px;*/

            /*上，右，下，左*/
            padding: 10px 20px 30px 40px;
        }
        #d2 {
            width: 200px;
            height: 100px;
            background-color: lightcoral;
        }
    </style>
</head>
<body>
<div id="d1">
    <div id="d2"></div>
</div>
</body>
</html>